<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
</head>
<body>

    <div class="card">
        <div class="card_left">
            <img class="card_left_img" src="/static/images/8Vc5EOUEIF1EUXuX9eLFf7BvN3P.jpg" alt="">
        </div>

        <div class="card_right">
            <p class="movie_card_title">Movie Title</p>
            <p class="movie_card_director"> Directed by: </p>
            <ul>
                <li class="movie_card_header">Year</li>
                <li class="movie_card_header">Runtime</li>
                <li class="movie_card_header">Genre</li>
            </ul>

            <p class="movie_card_overview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente odit sed itaque temporibus quod obcaecati ab rerum nisi explicabo, atque corrupti neque possimus quas necessitatibus assumenda inventore deserunt eos debitis dolor beatae fuga maxime libero. Itaque ratione doloribus minus sequi repellendus vitae quisquam? Nulla iure aliquam iusto ipsam perferendis quisquam?</p>

            <p class="movie_card_rating"> Carrie Rating:  </p>
            <p class="movie_card_rating"> Alex Rating:  </p>
        </div>
        

    </div>

    
</body>
</html>